[green_agent]
agentbeats_id = "019bc240-3f4d-76d3-ac6f-b8b3becaf848"
env = { API_KEY = "${API_KEY}", LOG_LEVEL = "INFO", TIMEOUT_SECONDS = "300" }

[[participants]]
agentbeats_id = "019bc464-e176-7061-b2cc-aaedd30fd3d9"
name = "baseline_purple"
env = { OPENAI_API_KEY = "${OP